:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;
    --basic-background: #F1F5F7;
    --global-white: #FFF;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --success: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
    --black: #000;
    --header-background: rgba(0,0,0,0.01);
    --grey-extralight: #EAEAEA;
    --text-grey-extalight: #A9A9A9;
    --grey-extradark: #293449; 
    --grey-dark: #32425C;
    --grey-extradark-hover: #161D29; 
    --grey-dark-active: #1D2739; 
    --link-light: #FFDA96; 
    --social-button: #212A3A; 
    --title-background: #F2F6F8; 
    --shadow: rgba(0, 0, 0, 0.15);
    --border: #E5E5E5 ;
    --user-menu-active: rgba(255,255,255,0.5);
}

/* Глобальные */

.page-body {
    min-width: 940px;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    background-color: var(--global-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button-main {
    font-family: 'Cuprum', sans-serif;
    color: var(--global-white);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--basic-red);
}

.button-red:active {
    background-color: var(--error);
}

.product-card {
    border: 1px solid var(--grey-extralight);
}

.product-card:hover {
    box-shadow: 0px 4px 20px var(--shadow);
}

.product-card h3 {
    color: var(--black);
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.product-card .old-price {
    color: var(--text-grey-extalight);
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
}

.product-card .actual-price {
    color: var(--global-white);
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    background-color: var(--basic-red);
}

/* шапка */

.header {
    background-color: var(--header-background:);
}

.main-navigation ul { 
    list-style: none;
}

.user-menu {
    width: 100%;
    height: 47px;
    color: var(--global-white);
    background-color: var(--grey-extradark);
    list-style: none;
}

.main-header-logo {
    background: var(--basic-red) url("../img/logo-body.png");
}

.main-header-logo:active {
    background: var(--error) url("../img/logo-body-active.png");
}

.user-meu-button, .main-navigation a {
    text-align: center;
    color: var(--global-white);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.user-meu-button:hover {
    background-color: var(--grey-extradark);
}

.user-meu-button:active {
    color: var(--user-menu-active);
    background-color: var(--grey-extradark-hover);
}

.full-cart {
    background-color: var(--basic-red);
}

.order-button {
    background-color: var(--basic-green);
}

.order-button:hover {
    background-color: var(--success);
}

.order-button:active {
    background-color: var(--basic-green);
}

.shop-description {
    color: var(--basic-red);
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}

.call-button {
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    color: var(--basic-red);
    border: 3px solid var(--global-white);
    
}

.login-buttons {
    font-family: 'Cuprum', sans-serif;
    text-align: center;
    border: none;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    background-color: var(--global-white);
}

.login-buttons:hover {
    color: var(--basic-red)
}

.login-buttons:active {
    color: var(--basic-greylight)
}

.user-account-button {
    color: black;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
}

.user-account-button:active {
    color: var(--basic-greylight);
}

.user-account-button-addirtional a{
    color: var(--grey-dark);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.user-account-button-addirtional a:hover {
    color: var(--basic-red);
}

.user-account-button-addirtional a:active {
    color: var(--basic-greylight);
}

.login-buttons-group {
    list-style: none;
}

.login-buttons:hover {
    color: var(--basic-red);
}

.login-buttons:active {
    color: var(--basic-greylight);
}

header .address {
    color: var(--grey-dark);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
}

.main-navigation {
    text-align: center;
    color: var(--global-white);
    background: var(--grey-dark) url("../img/main-nav-background.png");
    background-repeat: repeat-x;
}

.main-navigation a:hover {
   background-color: var(--grey-exradark); 
}

.main-navigation a:active {
   background: var(--grey-dark-active) url("../img/main-nav-body-active.png"); 
}

/* О компании */

.about-company h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
} 

.about-company p{
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

.about-company ul{
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

/* подвал */

.footer {
    background-color: var(--grey-dark);
}


footer .address {
    color: var(--global-white);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
}

footer .phone {
    color: var(--global-white);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.footer-menu a{
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: var(--global-white);
}

.footer-menu{
    list-style: none;
}

.catalog-menu a{
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: var(--link-light);
}

.catalog-menu{
    list-style: none;
}

.link-interaction:hover{
    text-decoration: underline;
}

.link-interaction:active{
    text-decoration: none;
    opacity: .5;
}

.bottom {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    background-color: var(--grey-extradark);
}

.copyright {
    color: var(--basic-background);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: var(--global-white);
}

.bottom a {
    color: var(--link-light);
}

.socials {
    list-style: none;
}

.social {
    background-color: var(--social-button);
}

.social:hover {
    background-color: var(--basic-red);
}

.social:active {
    background-color: var(--basic-red);
}

.contacts {
    list-style: none;
}

.contact-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: var(--global-white);
}

.contact-link:active {
    opacity: 1;
    color: var(--basic-red);
}

/* каталог */

.breadcrumbs {
    font-family: 'PT Sans', sans-serif;
    list-style: none;
}

.breadcrumb-link {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: var(--black);
    list-style: none;
    text-transform: uppercase;
}

.catalog-page .main-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color: var(--grey-dark);
    background-color: var(--title-background);
}

.filters ul{
    list-style: none;
}

.filter-title {
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    color: var(--black);
    text-transform: uppercase;
}

.filter-item {
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: var(--black);
    text-transform: uppercase;
}

.filter-item label:active {
    opacity: 0.4;
}

.filter-button {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: var(--black);
    text-transform: uppercase;
    background-color: var(--global-white);
    border: 1px solid #E5E5E5;
}

.filter-button:hover {
    border-color:var(--basic-greylight);
}

.filter-button:active {
    border-color:var(--basic-red);
}

/* попапы */

.disabled {
    display: none
}